*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    font-family: initial;
}
.container{
    margin: 25px auto;
    width: 80%;
}

.container::after{
    content: "";
  display: table;
  clear: both;
}

.sconto{
    background-color:rgba(235, 0, 55, 1);
    color: white;
    width: 46px;
    text-align:justify;
    padding: 3px;
    position: relative;
    bottom: 50px;
    font-size: 16px;
}

.sostenibilità{
    background-color:rgba(0, 135, 90, 1);
    color: white;
    width: 93px;
    text-align: center;
    padding: 3px;
    position: relative;
    bottom: 77px;
    left: 50px;
    font-size: 16px;
    }

.like{
   background-color: white;
    width: 46px;
    padding: 9px;
    text-align: center;
    position: relative;
    bottom: 575px;
    left: 321px;
}
p{
    margin-bottom: 88px;
    position: relative;
    bottom: 108px;
}
.product{
    float: left;
    margin-right: 5px;
}

     img{
        width: 366px;
    }
    .offerta{
        color: rgba(255, 0, 0, 1);
    }